#head {
    text-align: center;
    margin: 30px 0;
    font-size: 4rem;
    color: #333;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 40px;
}

table, th, td {
    border: 1px solid #17202a;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #85c1e9;
    font-weight: bold;
}
.col-1 {
    width: 220px; 
}
.col-2 {
    width: 220px; 
}
.col-3 {
    width: 80px;
}
.col-4 {
    width: 150px; 
}
.col-5 {
    width: 150px; 
}
.col-6 {
    width: 180px; 
}
.col-7 {
    width: 180px; 
}